name: CI
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install
        run: |
          sudo apt-get update
          sudo apt-get install llvm clang lld

      - name: Get Nexus AM
        run: git clone https://github.com/OpenXiangShan/nexus-am.git $HOME/nexus-am

      - name: Test Goodbye
        run: ./test/goodbye.sh
